body {
    background: #eaf6f6;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px 20px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    color: red;
}
